* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.BgDefault {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/default.jpg);
}

.BgSky {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/sky.jpg);
}

.BgClouds {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/clouds.jpg);
}

.BgRain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/rain.jpg);
}

.BgThunderstorm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/thunderstorm.jpg);
}

.BgSnow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/snow.jpg);
}

.BgMist {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./image/mist.jpg);
}

.leftSection {
  display: flex;
  flex-direction: column;
  width: 37%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.leftInputBox {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  height: 40%;
}

.leftInputBox > input[type="text"] {
  padding-left: 10px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  transition: all 0.3s ease-in-out;
}

.cityInfoDetail {
  width: 100%;
  height: 60%;
}

.InfoItems {
  padding: 0 25px;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}

.rightSection {
  width: 63%;
  height: 100%;
}

.todayBox {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

.mainInfoBox {
  width: 100%;
  height: calc(100vh - 12%);
  position: relative;
}

.cityInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 510px;
}

.infoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.cityTemp,
.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  font-size: 50px;
}

.cityImage {
  width: 40%;
  height: 100%;
}

.clothesBox {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}

.clothesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.cardsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 80%;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 920px;
  height: 100%;
  overflow: scroll;
  overflow-y: hidden;
  cursor: pointer;
}

.cards::-webkit-scrollbar-track {
  border-radius: 0 0 10px 10px;
}

.cards::-webkit-scrollbar {
  border-radius: 0 0 10px 10px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #0ae;
  border-radius: 10px;
}

.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 0 20px;
  height: 170px;
  font-size: 90px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.cards .card img {
  margin: 10px 0;
  width: 100px;
  height: 120px;
}

.cards .card span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 20px;
  color: black;
  font-size: 15px;
}

.leftErrorMessage,
.rightErrorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 35px;
}

.leftErrorMessage {
  height: 100%;
}

.rightErrorMessage {
  height: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }

  .leftSection {
    flex-direction: row;
    width: 100%;
    height: 40%;
  }

  .leftInputBox {
    align-items: center;
    padding-top: 0px;
    width: 40%;
    height: 100%;
  }

  .leftInputBox > input[type="text"] {
    width: 250px;
    font-size: 15px;
  }

  .cityInfoDetail {
    width: 60%;
    height: 100%;
  }

  .rightSection {
    width: 100%;
    height: 60%;
  }

  .todayBox {
    height: 10%;
    font-size: 30px;
  }

  .mainInfoBox {
    height: 90%;
  }

  .cityInfo {
    flex-direction: row;
    height: 80%;
  }

  .infoBox {
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-right: 10px;
  }

  .cityTemp,
  .cityName {
    width: 100%;
    height: 30%;
    font-size: 35px;
  }

  .cityImage {
    width: 100%;
    height: 40%;
  }

  .clothesBox {
    margin-top: 0px;
    width: 60%;
    height: 100%;
  }

  .clothesTitle {
    font-size: 18px;
    height: 15%;
  }

  .cardsBox {
    height: 85%;
  }

  .cards .card {
    height: 200px;
  }

  .cards .card img {
    margin: 15px 0;
  }

  .leftErrorMessage,
  .rightErrorMessage {
    font-size: 30px;
  }

  .rightErrorMessage {
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  .leftInputBox > input[type="text"] {
    width: 150px;
  }

  .InfoItems {
    font-size: 13px;
  }

  .todayBox {
    font-size: 25px;
  }

  .cityTemp,
  .cityName {
    width: 100%;
    height: 30%;
    font-size: 25px;
  }

  .leftErrorMessage,
  .rightErrorMessage {
    font-size: 24px;
  }
}
